<form [formGroup]="loginForm" (ngSubmit)="login()">
    <ngb-alert [dismissible]="false" type="danger" *ngIf="error">
        Er kon geen gebruiker gevonden worden met deze gegevens.
    </ngb-alert>
    <div class="alert alert-success" *ngIf="message" role="alert">
        {{message}}
    </div>
    <div class="form-group" [ngClass]="isFieldInvalid('userName') ? 'has-error has-feedback' : '' ">
      <label for="userName">Gebruikersnaam</label>
      <input type="email" placeholder="Gebruiker" formControlName="userName" required class="form-control" id="email"
        aria-describedby="emailHelp">
      <div class="alert alert-danger" role="alert" *ngIf="isFieldInvalid('userName')">
        Vul a.u.b. een email in.
      </div>
    </div>

    <div class="form-group" [ngClass]="isFieldInvalid('password') ? 'has-error has-feedback' : ''">
      <label for="password">Wachtwoord</label>
      <input type="password" class="form-control" id="wachtwoord" placeholder="Wachtwoord" formControlName="password"
        required>
      <div class="alert alert-danger" role="alert" *ngIf="isFieldInvalid('password')">
        Vul a.u.b. een wachtwoord in.
      </div>
    </div>
    <div class="row">
      <div class="col">
          <button type="submit" id="login" class="btn btn-secondary">Inloggen</button>
      </div>
      <div class="col text-right">
          <a routerLink="/account-aanmaken">Maak account aan</a>
      </div>
    </div>
  </form>
