<div class="container">
    <span class="spacing spacing-lg"></span>
    <h1>Winkelmand</h1>
    <span class="spacing spacing-md"></span>
    <div class="row">
        <div class="col">
            <app-winkelmand></app-winkelmand>
        </div>
    </div>
    <div class="row">
        <div>
            <button routerLink="/" class="btn btn-primary mr-3">Verder winkelen</button>
            <button routerLink="/adresinvullen" id="bestellingPlaatsen" class="btn btn-secondary">Bestelling plaatsen</button>
        </div>

    </div>
    <span class="spacing spacing-md"></span>
</div>