@import "../../../assets/scss/variables";

:host{
    .detail-image{
        position: absolute;
        left: 15px;
        right: 15px;
        top: 0;
        background-size: contain;
        bottom: 0;
        background-position: center;
        background-repeat: no-repeat;
    }
    .price{
        font-weight: bold;
        font-size: 1.1rem;
    }
}
